<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{page_title}}</title>
    <link rel='stylesheet' href='/css/jass.css' />
  </head>

  <body>
    <header class='display-flex justify-space-between align-center p-2'>
      <h1>
        {{page_title}}
      </h1>
      <!-- Display a logout button only if the user
        is logged in.  Otherwise, display login 
        and layout buttons        
        -->
      {{#if logged_in}}
        <nav>
          <button class="btn" id="profile">profile</button>
          <button class='btn' id='logout'>logout</button>
        </nav>
      {{else}}
        <nav>
          <button class='btn' id='login'>login</button>
        </nav>
      {{/if}}
    </header>
    <main class='container container-fluid mt-5'>
      {{{body}}}
    </main>
    <footer>

    </footer>
      <script src='/js/login_logout_buttons.js'></script>
  </body>

</html>