<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{page_title}}</title>
    <link rel='stylesheet' href='/css/foundation.css' />
  </head>

  <body>
    <header class='display-flex justify-space-between align-center p-2'>
      <!-- Display the logout and dashboard buttons only if the user
        is logged in.  Otherwise, display the login, home page
        and layout buttons.     
        -->
      {{#if logged_in}}
        <nav>
           <button class="btn" id="home">Home</button>
          <button class="btn" id="dashboard">Dashboard</button>
          <button class='btn' id='logout'>Logout</button>
        </nav>
      {{else}}
        <nav>
           <button class="btn" id="home">Home</button>
          <button class="btn" id="dashboard">Dashboard</button>
          <button class='btn' id='login'>login</button>
        </nav>
      {{/if}}
    </header>
     <h1>
        {{page_title}}
      </h1>
    <main class='container container-fluid mt-5'>
      {{{body}}}
    </main>
    <footer>

    </footer>
      <script src='/js/homepage_buttons.js'></script>
  </body>

</html>