{{#each projects.project_data}}
  <div class='row align-center mb-5'>
    <a href='/project/{{this.id}}'>
      <div class='col-md-6'>
        <h2>{{this.name}}</h2>
      </div>
      <div class='col-md-6'>
        <h3>{{this.description}}</h3>
      </div>
    </a>
  </div>
{{/each}}