{{#each topics.topic_data}}
<div class="cell">
<div class="card">
      <a href='/topic/{{this.id}}'>
      <div class='card-divider'>
        <h2>{{this.subject}}</h2>
      </div>
      <div class='card-section'>
        <p>{{this.contents}}</p>
      </div>
    </a>
  </div>
  </div>
  </div>
{{/each}}